<!-- Header Bar -->
<header>
  <nav class="navbar">
    <a routerLink="/" class="nav-link">Home</a>

    <div class="dropdown">
      <button class="dropbtn">Genre</button>
      <div class="dropdown-content">
        <a [routerLink]="['/genre', 'Fantasy']">Fantasy</a>
        <a [routerLink]="['/genre', 'Fiction']">Fiction</a>
        <a [routerLink]="['/genre', 'Historical']">Historical Fiction</a>
        <a [routerLink]="['/genre', 'Comedy']">Comedy</a>
        <a [routerLink]="['/genre', 'Epic']">Epic</a>
        <a [routerLink]="['/genre', 'Other']">Other</a>
      </div>
    </div>
<!-- 
    <div class="dropdown">
      <button class="dropbtn">Time Period</button>
      <div class="dropdown-content">
        <a [routerLink]="['/time', 'Modern']">Modern (1990's-current)</a>
        <a [routerLink]="['/time', 'Contemporary']">Contemporary (1900's)</a>
        <a [routerLink]="['/time', 'Renaissance']">Renaissance (1700-1800's)</a>
        <a [routerLink]="['/time', 'Middle']">Middle Ages</a>
        <a [routerLink]="['/time', 'Ancient']">Ancient</a>
      </div>
    </div> -->

    <div class="dropdown">
      <button class="dropbtn">Region</button>
      <div class="dropdown-content">
        <a [routerLink]="['/region', 'America']">United States</a>
        <a [routerLink]="['/region', 'England']">England</a>
        <a [routerLink]="['/region', 'Spain']">Spain</a>
        <a [routerLink]="['/region', 'France']">France</a>
        <a [routerLink]="['/region', 'Russia']">Russia</a>
        <a [routerLink]="['/region', 'LatinAmerica']">Latin America</a>
        <a [routerLink]="['/region', 'Other']">Other</a>
      </div>
    </div>

    <!-- <div class="dropdown">
      <button class="dropbtn">Langauge</button>
      <div class="dropdown-content">
        <a [routerLink]="['/language', 'English']">English</a>
        <a [routerLink]="['/language', 'Spanish']">Spanish</a>
        <a [routerLink]="['/language', 'Russian']">Russian</a>
        <a [routerLink]="['/language', 'French']">French</a>
        <a [routerLink]="['/language', 'Other']">Other</a>
      </div>
    </div> -->

    <div class="dropdown">
      <button class="dropbtn">Popularity</button>
      <div class="dropdown-content">
        <a [routerLink]="['/popularity', 'Popular']">Popular</a>
        <a [routerLink]="['/popularity', 'Under']">Under Appreciated</a>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
