<div class="randomBook">
    <h4 class="suggestion">
        {{attributeDisplayString}}
    </h4>

    <app-book-card [book]="randomBook"></app-book-card>

    <div class="buttons-container">
        <div class="button-group">
            <button class="moreSimilar" [routerLink]="[filter, argument]">
                Show me more from {{randomAttribute}}
            </button>
            <button class="getNewBook" (click)="this.getNewRandomBook()">
                Give me something different
            </button>
        </div>
    </div>
</div>

